* {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  width: 100%;
  text-transform: uppercase;
  @include font-family;
  @include desktop {
    background-color: #f2f2f2;
  }
}

.visible-mobile-and-tablet {
  @include tablet {
    display: block;
  }
  @include desktop {
    display: none;
  }
}

.visible-desktop {
  display: none;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: block;
  }
}

::-webkit-input-placeholder {color:#000; font-weight: bold; font-size: 16px; line-height: 26px;}
::-moz-placeholder          {color:#000; font-weight: bold; font-size: 16px; line-height: 26px;}
:-moz-placeholder           {color:#000; font-weight: bold; font-size: 16px; line-height: 26px;}
:-ms-input-placeholder      {color:#000; font-weight: bold; font-size: 16px; line-height: 26px;}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  padding: 0;
}
