.box-wrapper {
  min-width: 320px;
  margin: 0 auto;

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1200px;
    box-shadow: 0px 0px 20px $radio-button-color-down;
    background-color: $tablet-desktop-header-bg-color;
  }
}
