.features {
  @include tablet {
    display: flex;
  }

  @include desktop {
    display: flex;
  }

  &--blue {
    background-color: $main-bg-color;
    color: $secondary-text-color;

    &:nth-of-type(2)::before {
      content: url('data:image/svg+xml;utf8,
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 12.452 320 37">
        <polygon fill="#ffffff" points="320,12.452 0,12.452 0,34.175 160,49.452 320,34.175 "/>
      </svg>
      ');
      display: block;
      width: 100%;

      @include tablet {
        display: none;
      }

      @include desktop {
        display: none;
      }
    }
  }

  &--gray .features__container {
    padding-top: 27px;
    padding-bottom: 0;
    background-color: $secondary-bg-color;

    @include tablet {
      padding: 45px;
      padding-bottom: 44px;
    }

    @include desktop {
      padding: 0;
      padding: 45px;
      padding-bottom: 65px;
    }
  }

  &--gray .features__container h2 {
    @include desktop {
      padding: 0 60px;
      margin-bottom: 10px;
    }
  }

  &--gray .features__container:not(:last-child) .features__item {
    border-bottom: 1px solid #d6d6d6;

    @include tablet {
      border: none;
    }

    @include desktop {
      border: none;
    }
  }

  &--gray .features__item {
    padding-bottom: 27px;

    @include tablet {
      padding-bottom: 0;
      padding: 0 5px;
    }

    @include desktop {
      padding-bottom: 0;
      padding: 0 20px;
    }
  }
}

.features__container {
  text-align: center;

  @include tablet {
    display: flex;
    width: 256px;
  }

  @include desktop {
    display: flex;
    width: 400px;
  }

  &--town {
    padding-top: 37px;
    padding-bottom: 40px;

    @include tablet {
      padding: 0 44px;
      padding-top: 45px;
    }

    @include desktop {
      padding: 52px 0;
    }
  }

  &--town h2 {
    @include tablet {
      padding-top: 0;
    }
  }

  &--town p {
    @include tablet {

    }
  }

  &--bridge {
    padding: 39px 0;

    @include tablet {
      padding: 0 45px;
      padding-top: 45px;
      order: 2;
    }

    @include desktop {
      order: 2;
    }
  }

  &--bridge h2 {
    @include desktop {
      padding: 0 115px;
      padding-top: 15px;
      padding-bottom: 11px;
    }
  }

  &--bridge p {
    @include desktop {
      padding: 0 90px;
      padding-top: 20px;
    }
  }
}

.features__title {
  @include main-title;
  padding-bottom: 9px;

  @include tablet {
    padding-bottom: 10px;
  }

  @include desktop {
    padding: 0 95px;
    padding-bottom: 10px;
  }
}

.features__item span {
  @include sub-text;
}

.features__text {
  padding-top: 15px;
  @include sub-text;

  @include tablet {
    padding-top: 21px;
  }

  @include desktop {
    padding: 0 60px;
    padding-top: 21px;
  }

  &--gray {
    padding-left: 11px;
    padding-right: 11px;

    @include tablet {
      padding: 0;
      padding-top: 21px;
    }

    @include desktop {
      padding: 0;
      padding-top: 21px;
    }
  }
}

.features__image {
  min-height: 260px;

  @include tablet {
    min-height: 256px;
    width: 512px;
  }

  @include desktop {
    min-height: 256px;
    width: 800px;
  }

  &--town {
    background: url("../img/photo-city-mobile@1x.jpg") no-repeat center;
    background-color: $features-image-town-bg-color;
    background-size: 100% 260px;

    @include retina {
      background: url("../img/photo-city-mobile@2x.jpg") no-repeat center;
      background-color: $features-image-town-bg-color;
      background-size: cover;
    }

    @include tablet {
      background: url("../img/photo-city-tablet@1x.jpg") no-repeat center;
      background-color: $features-image-town-bg-color;

      @include retina {
        background: url("../img/photo-city-tablet@2x.jpg") no-repeat center;
        background-color: $features-image-town-bg-color;
        background-size: 512px auto;
      }
    }

    @include desktop {
      background: url("../img/photo-city@1x.jpg") no-repeat center;
      background-color: $features-image-town-bg-color;

      @include retina {
        background: url("../img/photo-city@2x.jpg") no-repeat center;
        background-color: $features-image-town-bg-color;
        background-size: 800px auto;
        background-position: 0 -71px;
      }
    }
  }

  &--bridge {
    background: url("../img/photo-bridge@1x.jpg") no-repeat 0 0;
    background-color: $features-image-bridge-bg-color;
    background-size: 100% 260px;

    @include retina {
      background: url("../img/photo-bridge-mobile@2x.jpg") no-repeat center;
      background-color: $features-image-bridge-bg-color;
      background-size: 100% 260px;
    }

    @include tablet {
      order: 1;

      background: url("../img/photo-bridge-tablet@1x.jpg") no-repeat center;
      background-color: $features-image-bridge-bg-color;

      @include retina {
        background: url("../img/photo-bridge-tablet@2x.jpg") no-repeat center;
        background-color: $features-image-bridge-bg-color;
        background-size: 512px auto;
      }
    }

    @include desktop {
      order: 1;

      background: url("../img/photo-bridge@1x.jpg") no-repeat center;
      background-color: $features-image-bridge-bg-color;

      @include retina {
        background: url("../img/photo-bridge@2x.jpg") no-repeat center;
        background-color: $features-image-bridge-bg-color;
        background-size: 800px auto;
        background-position: 0 -76px;
      }
    }
  }
}
