.footer {
  background-color: $footer-bg-color;
}

.footer__container {
  @include container-style;

  @include tablet {
    display: flex;
    justify-content: space-around;
    padding: 0 60px;
  }

  @include desktop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
  }
}

.footer__container a {
  color: $main-text-color;
}

.footer__hashtag {
  @include btn-text;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 71px;
  font-weight: bold;

  @include tablet {
    width: 256px;
    padding: 0;
    padding-top: 46px;
  }

  @include desktop {
    width: 400px;
    padding: 0;
    margin-top: -2px;
    text-align: center;
  }
}

.footer__copyright {
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;

  @include tablet {
    width: 256px;
    padding: 0;
    padding-top: 43px;
    display: flex;
    justify-content: flex-end;
  }

  @include desktop {
    width: 400px;
    justify-content: flex-end;
    padding: 0;
    padding-right: 44px;
    margin-top: 2px;
  }
}

.footer__copyright svg {
  width: 26.943px;
  height: 34.09px;

  &:hover {
    fill: $main-bg-color;
  }

  &:active {
    fill: $html-academy-icon-down;
  }
}

.footer__copyright span {
  display: block;
  font-size: 14px;
  line-height: 26px;
  margin-right: 12px;
  margin-top: 3px;
}
