.form {
  padding-bottom: 37px;
  @include tablet {
    @include container-style;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 61px;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 120px;
    margin-bottom: 66px;
  }
}

.form__container {
  display: flex;
  flex-direction: column;

  &--initials {
    margin-bottom: 5px;

    @include tablet {
      padding-left: 37px;
      margin-bottom: 50px;
      position: relative;
    }

    @include desktop {
      margin-bottom: 30px;
      position: relative;
      padding-left: 59px;
    }

    &::after {
      @include tablet {
        content: "";
        display: block;
        background-color: #dbdbdb;
        position: absolute;
        width: 1px;
        height: 292px;
        top: -78px;
        left: -21px;
      }

      @include desktop {
        content: "";
        display: block;
        background-color: #dbdbdb;
        position: absolute;
        width: 1px;
        height: 292px;
        top: -78px;
        left: -20px;
      }
    }
  }

  &--contacts {
    @include tablet {
      margin-top: 24px;
    }

    @include desktop {
      flex-direction: row;
    }
  }

  &--contacts label {
    margin-left: 22px;
    margin-bottom: 7px;

    @include desktop {
      padding-top: 17px;
      margin: 0px;
      margin-left: -1px;
      margin-right: 17px;
    }
  }

  &--sightseeing {
    margin-left: -1px;
    padding-bottom: 1px;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      position: relative;
      padding-left: 96px;
      margin-top: 25px;
      margin-bottom: 35px;
    }

    @include desktop {
      flex-direction: row;
      position: relative;
      padding-bottom: 0px;
      margin-left: 0px;
    }
  }

  &--sightseeing label {
    @include tablet {
      width: 40%;
      margin-right: 38px;
    }
  }

  &--sightseeing label:nth-of-type(1) {
    order: 1;

    @include tablet {
      order: 1;
    }

    @include desktop {
      order: 1;
      margin-right: 69px;
    }
  }

  &--sightseeing label:nth-of-type(2) {
    order: 2;

    @include tablet {
      order: 3;
    }

    @include desktop {
      order: 3;
      margin-right: 68px;
    }
  }

  &--sightseeing label:nth-of-type(3) {
    order: 3;

    @include tablet {
      order: 2;
    }

    @include desktop {
      order: 2;
      margin-right: 72px;
    }
  }

  &--sightseeing label:nth-of-type(4) {
    order: 4;

    @include tablet {
      order: 4;
    }

    @include desktop {
      order: 4;
    }
  }

  &--sightseeing label:before {
    content: "";
    min-width: 56px;
    height: 56px;
    background-color: $input-bg-color;
    display: inline-block;
    border-radius: 10%;
    vertical-align: middle;
    margin-right: 23px;
    margin-bottom: 1px;
  }

  &--sightseeing label:hover:before {
    background-color: $input-bg-color-hover;
  }

  &--sightseeing label:active:before {
    background-color: $checkbox-bg-color-down;
  }

  &--sightseeing input:checked + label:before {
    content: "";
    display: inline-block;
    background-color: $input-bg-color;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='23.049px' height='16.249px' viewBox='0 0 23.049 16.249' enable-background='new 0 0 23.049 16.249' xml:space='preserve'%3E%3Cpath d='M22.801,1.299L21.75,0.248c-0.331-0.331-0.872-0.331-1.203,0L8.693,12.102L2.502,5.911c-0.331-0.331-0.872-0.331-1.203,0 L0.248,6.962c-0.331,0.331-0.331,0.872,0,1.202l7.837,7.837c0.167,0.167,0.388,0.248,0.608,0.246c0.22,0.002,0.44-0.079,0.608-0.246 l13.5-13.5C23.132,2.171,23.132,1.63,22.801,1.299z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--sightseeing input:checked:hover + label:before {
    background-color: $input-bg-color-hover;
  }

  &--sightseeing input:checked:active + label:before {
    background-color: $checkbox-bg-color-down;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='23.049px' height='16.249px' viewBox='0 0 23.049 16.249' enable-background='new 0 0 23.049 16.249' xml:space='preserve'%3E%3Cpath d='M22.801,1.299L21.75,0.248c-0.331-0.331-0.872-0.331-1.203,0L8.693,12.102L2.502,5.911c-0.331-0.331-0.872-0.331-1.203,0 L0.248,6.962c-0.331,0.331-0.331,0.872,0,1.202l7.837,7.837c0.167,0.167,0.388,0.248,0.608,0.246c0.22,0.002,0.44-0.079,0.608-0.246 l13.5-13.5C23.132,2.171,23.132,1.63,22.801,1.299z'/%3E%3C/svg%3E%0A");
  }

  &--experience {
    padding-bottom: 14px;

    @include tablet {
      padding-bottom: 0;
    }

    @include desktop {
      padding-bottom: 0;
    }
  }

  &--experience label {
    position: relative;
    text-transform: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
  }

  &--experience input[type="radio"] + label:before {
    content: "";
    min-width: 56px;
    height: 56px;
    display: inline-block;
    background-color: $input-bg-color;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 22px;
    margin-bottom: 2px;

    @include tablet {
      margin-right: 20px;
    }

    @include desktop {
      margin-right: 20px;

    }
  }

  &--experience input[type="radio"] + label:hover:before {
    background-color: $input-bg-color-hover;
  }

  &--experience input[type="radio"] + label:active:before {
    background-color: $radio-bg-color-down;
  }

  &--experience input[type="radio"]:checked + label:after {
    content: "";
    min-width: 22px;
    height: 22px;
    display: inline-block;
    background-color: $main-text-color;
    border-radius: 50%;
    vertical-align: middle;
    position: absolute;
    top: 17px;
    left: 17px;
  }

  &--experience input[type="radio"]:checked + label:active:after {
    background-color: $radio-button-color-down;
  }
}

.form__container label {
  white-space: nowrap;

  @include tablet {
    margin-bottom: 7px;
  }

  @include desktop {
    margin-bottom: 0px;
  }
}

.form__item-title {
  @include main-title;
  text-align: center;
}

.form__item {
  padding: 0 20px;
  padding-top: 18px;
  width: 100%;
  border-bottom: 1px solid $input-bg-color-hover;

  @include tablet {
    border-bottom: none;
  }

  @include desktop {
    border-bottom: none;
  }

  &--initials {
    @include tablet {
      order: 2;
      width: 50%;
      margin-top: 39px;
      padding-right: 0;
      padding-top: 0;
    }

    @include desktop {
      order: 2;
      width: 50%;
      margin-top: 41px;
      padding-right: 0;
      padding-top: 0;
    }
  }

  &--initials h2 {
    padding-bottom: 21px;

    @include tablet {
      text-align: left;
      padding-left: 37px;
      margin-bottom: 36px;
    }

    @include desktop {
      text-align: left;
      margin-bottom: 36px;
      padding-left: 59px;
    }
  }

  &--contacts {
    @include tablet {
      padding: 0;
      order: 3;
      margin-bottom: 25px;
      position: relative;
    }
    @include desktop {
      padding-left: 0;
      padding-right: 0;
      order: 3;
      margin-bottom: 7px;
      position: relative;
    }
  }

  &--contacts h2 {
    margin-bottom: 20px;

    @include tablet {
      background-color: white;
      width: 400px;
      margin: 0 auto;
      margin-left: 125px;
    }

    @include desktop {
      background-color: white;
      width: 400px;
      margin: 0 auto;
      margin-bottom: 74px;
      position: relative;
      z-index: 2;
    }
  }

  &--contacts::before {
    @include tablet {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #dbdbdb;
      position: absolute;
      top: 12px;
      padding: 0;
      z-index: -1;
    }

    @include desktop {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #dbdbdb;
      position: absolute;
      top: 30px;
      left: 0px;
      padding: 0;
      z-index: 1;
    }
  }

  &--experience {
    @include tablet {
      padding-top: 0;
      margin-top: 39px;
      padding-left: 0;
      order: 1;
      width: 50%;
    }
    @include desktop {
      padding-top: 0;
      margin-top: 41px;
      padding-left: 0;
      order: 1;
      width: 50%;
    }
  }

  &--experience h2 {
    margin-bottom: 23px;

    @include tablet {
      text-align: left;
      margin-bottom: 59px;
    }

    @include desktop {
      text-align: left;
      margin-bottom: 59px;
      padding-left: 79px;
    }
  }

  &--experience label {
    margin-bottom: 11px;

    @include tablet {
      margin-bottom: 20px;
    }

    @include desktop {
      margin-bottom: 20px;
      margin-left: 4px;
    }
  }

  &--experience label:last-child {
    @include tablet {
      margin-bottom: 0;
    }

    @include desktop {
      margin-bottom: 0;
    }
  }

  &--sightseeing {
    @include tablet {
      position: relative;
      padding: 0;
      order: 4;
    }
    @include desktop {
      position: relative;
      order: 4;
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 65px;
    }
  }

  &--sightseeing::before {
    @include tablet {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #dbdbdb;
      position: absolute;
      top: 25px;
      padding: 0;
      z-index: -1;
    }

    @include desktop {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #dbdbdb;
      position: absolute;
      top: 43px;
      padding: 0px;
      z-index: 1;
    }
  }

  &--sightseeing h2 {
    padding-bottom: 17px;
    margin-left: -3px;

    @include tablet {
      width: 400px;
      margin: 0 auto;
      margin-left: 125px;
      background-color: white;
    }

    @include desktop {
      width: 400px;
      margin: 0 auto;
      background-color: white;
      position: relative;
      z-index: 2;
      margin-bottom: 25px;
    }
  }

  &--sightseeing label {
    text-transform: none;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 23px;

    @include tablet {
      margin-bottom: 31px;
    }

    @include desktop {
      margin-bottom: 0;
    }
  }

  &--emotions {
    border: none;
    padding-right: 21px;
    margin-bottom: 48px;

    @include tablet {
      position: relative;
      padding: 0;
      order: 5;
    }

    @include desktop {
      position: relative;
      padding: 0;
      order: 5;
    }
  }

  &--emotions::before {
    @include tablet {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #dbdbdb;
      position: absolute;
      top: 12px;
      padding: 0;
      z-index: -1;
    }

    @include desktop {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: #dbdbdb;
      position: absolute;
      top: 12px;
      padding: 0;
      z-index: 1;
    }
  }

  &--emotions h2 {
    padding-bottom: 17px;

    @include tablet {
      background-color: white;
      width: 400px;
      margin: 0 auto;
      margin-left: 125px;
      padding-right: 5px;
      margin-bottom: 40px;
    }

    @include desktop {
      background-color: white;
      width: 400px;
      margin: 0 auto;
      padding-bottom: 0px;
      margin-bottom: 57px;
      padding-right: 1px;
      position: relative;
      z-index: 2;
    }
  }
}

.form__error-text {
  display: block;
  font-size: 14px;
  line-height: 26px;
  color: #ff5c5c;
  text-transform: none;
  margin-left: 21px;
  margin-bottom: 11px;

  @include tablet {
    position: absolute;
    right: 0;
  }

  @include desktop {
    position: absolute;
    left: 85px;
    top: -33px;
    margin-bottom: 0;
  }
}

.form__item textarea {
  width: 100%;
  min-height: 160px;
  background-color: $input-bg-color;
  border: none;
  padding: 20px;
  padding-top: 17px;
  margin-left: -1px;

  @include tablet {
    margin-bottom: 7px;
    margin-left: 0px;
  }

  @include desktop {
    margin-bottom: 7px;
    margin-left: 0px;
  }
}

.form__item-values label {
  font-size: 14px;
  line-height: 26px;
}

.form__item-values {
  display: flex;
  position: relative;

  &--initials label {
    padding-top: 17px;

    @include tablet {
      margin-right: 1px;
    }
  }

  &--initials:first-child label {
    padding-right: 13px;
  }

  &--initials:nth-child(2) label {
    padding-right: 14px;
  }

  &--initials:nth-child(3) label {
    padding-right: 17px;
  }

  &--phone {
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      width: 400px;
      margin-right: 80px;
    }
  }

  &--email {
    flex-direction: column;
    @include desktop {
      flex-direction: row;
      width: 480px;
    }
  }

  &--email label {
    margin-right: 19px;
  }
}

.form__item-values input[type="text"],
.form__item-values input[type="tel"],
.form__item-values input[type="email"] {
  width: 100%;
  background-color: $input-bg-color;
  outline: none;
  border: none;
  margin-bottom: 20px;
  padding: 20px;

  &:hover {
    background-color: $input-bg-color-hover;
  }

  &:focus {
    background-color: $secondary-text-color;
    outline: 2px solid $input-bg-color-hover;
    outline-offset: -2px;
  }
}

.form__item-values input[type="tel"],
.form__item-values input[type="email"] {
  padding-right: 78px;
}

.form__item-values input[type="tel"] {
  margin-bottom: 5px;

  @include tablet {
    margin-bottom: 23px;
  }

  @include desktop {
    margin-bottom: 28px;
  }
}

.form__item-values input[type="email"] {
  margin-bottom: 28px;
}

.form__item input[type="checkbox"],
.form__item input[type="radio"] {
  display: none;
}

.form__sub-text {
  display: none;

  @include tablet {
    @include sub-text;
    align-self: center;
    order: 7;
    display: block;
    width: 324px;
    text-align: right;
    margin-top: 5px;
  }

  @include desktop {
    @include sub-text;
    align-self: center;
    order: 7;
    display: block;
    width: 480px;
    text-align: right;
    margin-top: 5px;
  }
}

.form__icon {
  align-self: flex-end;
  display: block;
  position: absolute;
  background-color: $input-icon-bg-color;
  top: 33px;
  right: 0px;

  @include desktop {
    top: 0;
  }

  &--phone {
    padding-left: 21px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 19px;
  }

  &--phone svg {
    display: block;
    width: 18px;
    height: 18px;
  }

  &--email {
    padding: 21px 19px;
  }

  &--email svg {
    display: block;
    width: 20px;
    height: 16px;
  }
}
