.intro__container {
  @include container-style;
  padding: 0 25px;
  text-align: center;
  padding-top: 37px;
  padding-bottom: 5px;

  &--photos {
    padding-top: 38px;
  }

  &--photos h1 {
    padding-bottom: 26px;
  }

  &--photos p {
    line-height: 24px;
  }

  &--form {
    padding-bottom: 20px;
  }

  @include tablet {
    padding: 45px 135px;
  }

  @include desktop {
    padding: 45px 350px;
  }
}

.intro__title {
  @include main-title;
  padding-bottom: 27px;
}

.intro__text {
  @include sub-text;
  line-height: 26px;
}
