.intro__container {
  @include container-style;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  &--form {
    padding-bottom: 20px;
  }

  @include tablet {
    padding: 45px 135px;
  }

  @include desktop {
    padding: 45px 350px;
  }
}

.intro__title {
  @include main-title;
  padding-bottom: 30px;
}

.intro__text {
  @include sub-text;
}
