.logo {
  width: 102px;
  height: 84px;
  margin-left: 110px;

  @include tablet {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -51px;
    z-index: 10;
  }

  @include desktop {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -51px;
    z-index: 10;
  }
}
