.menu {
  display: block;
  background-color: $main-bg-color;
  text-align: center;

  @include tablet {
    background-color: $tablet-desktop-header-bg-color;
    position: relative;
  }

  @include desktop {
    background-color: $tablet-desktop-header-bg-color;
    position: relative;
  }
}

.menu__list {
  @include tablet {
    display: flex;
  }

  @include desktop {
    display: flex;
  }
}

.menu__close {
  background-color: inherit;
  fill: $secondary-text-color;
  position: absolute;
  top: 17px;
  right: 20px;
  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.menu__close svg {
  width: 22.199px;
  height: 22.199px;
}

.menu__item {
  padding: 7px 0;
  font-weight: bold;
  @include menu-text;

  border-top: 1px solid $menu-item-top-border-color;
  border-bottom: 1px solid $menu-item-bottom-border-color;

  &:last-child {
    padding-bottom: 6px;
  }

  @include tablet {
    padding: 20px 0;
    width: 192px;
    border: none;

    &:first-child {
      border-top: none;
      text-align: left;
      padding-left: 49px;
    }

    &:nth-child(2) {
      text-align: center;
      margin-right: 209px;
    }

    &:nth-child(3) {
      text-align: center;
    }

    &:nth-child(4) {
      text-align: right;
      padding-right: 26px;
    }

    &:nth-child(6) {
      margin-right: 209px;
    }

    &:nth-child(10) {
      margin-right: 209px;
    }
  }

  @include desktop {
    width: 300px;
    border: none;
    padding: 20px 0;

    &:first-child {
      text-align: left;
      padding-left: 91px;
    }

    &:nth-child(2) {
        text-align: center;
        margin-right: 382px;
    }

    &:nth-child(3) {
        text-align: center;
    }

    &:nth-child(4) {
        text-align: right;
        padding-right: 70px;
    }

    &:nth-child(6) {
        margin-right: 209px;
    }

    &:nth-child(10) {
        margin-right: 209px;
    }
  }
}

.menu__item a {
  color: $secondary-text-color;

  @include tablet {
    color: $main-text-color;
  }

  @include desktop {
    color: $main-text-color;
  }
}
