.menu {
  display: block;
  background-color: $main-bg-color;
  text-align: center;

  @include tablet {
    background-color: $tablet-desktop-header-bg-color;
    position: relative;
  }

  @include desktop {
    background-color: $tablet-desktop-header-bg-color;
    position: relative;
  }
}

.menu__list {
  @include tablet {
    display: flex;
  }

  @include desktop {
    display: flex;
  }
}

.menu__close {
  background-color: inherit;
  fill: $secondary-text-color;
  position: absolute;
  top: 17px;
  right: 20px;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.menu__close svg {
  width: 22.199px;
  height: 22.199px;
}

.menu__item {
  padding: 7px 0;
  font-weight: bold;
  @include menu-text;

  border-top: 1px solid $menu-item-top-border-color;
  border-bottom: 1px solid $menu-item-bottom-border-color;

  &:last-child {
    padding-bottom: 6px;
  }

  @include tablet {
    padding-top: 14px;
    padding-bottom: 16px;
    width: 192px;
    border: none;
  }

  @include desktop {
    width: 300px;
    border: none;
    padding-top: 14px;
    padding-bottom: 16px;
  }

  &:first-child {
    @include tablet {
      border-top: none;
      text-align: left;
      padding-left: 49px;
    }

    @include desktop {
      text-align: left;
      padding-left: 91px;
    }
  }

  &:nth-child(2) {
    @include tablet {
      text-align: right;
      padding-right: 7px;
      margin-right: 201px;
    }

    @include desktop {
      text-align: right;
      margin-right: 382px;
    }
  }

  &:nth-child(3) {
    @include tablet {
      text-align: left;
    }

    @include desktop {
      text-align: left;
      padding-right: 35px;
    }
  }

  &:nth-child(4) {
    @include tablet {
      text-align: right;
      padding-right: 26px;
    }

    @include desktop {
      text-align: right;
      padding-right: 70px;
    }
  }

  &:nth-child(6) {
    @include tablet {
      margin-right: 209px;
    }

    @include desktop {
      margin-right: 209px;
    }
  }

  &:nth-child(10) {
    @include tablet {
      margin-right: 209px;
    }

    @include desktop {
      margin-right: 209px;
    }
  }
}

.menu__link {
  color: $secondary-text-color;

  @include tablet {
    color: $main-text-color;
  }

  @include desktop {
    color: $main-text-color;
  }

  &:hover {
    @include tablet {
      color: $main-bg-color;
    }

    @include desktop {
      color: $main-bg-color;
    }
  }

  &:active {
    @include tablet {
      color: $main-text-color;
      opacity: 0.3;
    }

    @include desktop {
      color: $main-text-color;
      opacity: 0.3;
    }
  }

  &--active {
    @include tablet {
      color: $menu-item-active-text-color;
    }

    @include desktop {
      color: $menu-item-active-text-color;
    }
  }

  &--active:hover {
    @include tablet {
      color: $menu-item-active-text-color-hover;
    }

    @include desktop {
      color: $menu-item-active-text-color-hover;
    }
  }
}
