.photos__container {
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;

  @include tablet {
    @include container-style;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include desktop {
    @include container-style;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.photos__item {
  border-top: 1px solid $input-bg-color-hover;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 22px 0;
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    width: 50%;
    padding: 0;
    border: none;
  }

  @include desktop {
    width: 33.33%;
    padding: 0;
    border: none;
  }

  &--space {
    @include tablet {
      width: 100%;
    }
    @include desktop {
      width: 100%;
    }
  }
}

.photos__item span {
  @include sub-text;
  text-transform: none;

  @include desktop {
    color: inherit;
  }
}

.photos__description {
  display: flex;
  flex-direction: column;
  padding-top: 18px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    background-color: $input-bg-color;
  }

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    margin-top: -80px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.photos__title {
  @include sub-text;
  @include tablet {
    width: 100%;
  }

  @include desktop {
    width: 100%;
  }
}

.photos__author {
  color: $sub-text-color;
  @include tablet {
    flex-grow: 1;
  }
  @include desktop {
    flex-grow: 1;
  }
}

.photos__likes {
  @include tablet {
    align-self: flex-end;
  }
  @include desktop {
    align-self: center;
  }
}
