.photos__container {
  @include container-style;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.photos__item {
  display: flex;
  flex-direction: column;

  @include tablet {
    width: 50%;
  }

  @include desktop {
    width: 33.33333%;
  }

  &--space {
    @include tablet {
      width: 100%;
    }
    @include desktop {
      width: 100%;
    }
  }
}

.photos__item span {
  @include sub-text;
  text-transform: none;
}

.photos__description {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
  }

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
  }
}

.photos__title {
  @include sub-text;
  @include tablet {
    width: 100%;
  }

  @include desktop {
    width: 100%;
  }
}

.photos__author {
  color: $sub-text-color;
  @include tablet {
    flex-grow: 1;
  }
  @include desktop {
    flex-grow: 1;
  }
}

.photos__likes {
  @include tablet {
    align-self: flex-end;
  }
  @include desktop {
    align-self: center;
  }
}
