.promo {
  text-align: center;
  width: 100%;
  padding-top: 90px;
  background-repeat: no-repeat;
  background-color: $promo-index-bg-color;
  min-height: 389px;
  background-position: 50% 50%;

  @include mobile {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-size: 768px 389px;
    @include retina {
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }
  }

  @include tablet {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include retina {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @include desktop {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 1200px auto;
    background-position: 0 -1px;
    padding-top: 0px;

    @include retina {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  &--photos {
    background-size: 768px 389px;
    background-position: -226px -231px;
    padding-top: 30px;
    min-height: 158px;

    @include tablet {
      background-size: cover;
      background-position: 0 -229px;
      padding-top: 110px;
    }

    @include desktop {
      background-size: cover;
      background-position: 0 -218px;
      min-height: 301px;
    }
  }

  &--form {
    background-size: 768px 389px;
    background-position: -225px -231px;
    padding-top: 30px;
    min-height: 158px;

    @include tablet {
      background-size: cover;
      background-position: 0 -229px;
      padding-top: 110px;
    }

    @include desktop {
      background-size: cover;
      background-position: 50% -218px;
    }
  }

  &::after {
    content: "";
    background-image: url('data:image/svg+xml;base64,
    PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcv
MjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIw
cHgiIHk9IjBweCIgd2lkdGg9IjMyMHB4IiBoZWlnaHQ9IjI2LjExMXB4IiB2aWV3Qm94PSI0NDAu
NDY5IDMwLjg4OSAzMjAgMjYuMTExIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDQ0MC40NjkgMzAu
ODg5IDMyMCAyNi4xMTEiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KICA8cG9seWdvbiBmaWxsPSIj
RkZGRkZGIiBwb2ludHM9Ijc2MC40NjksNTcgNzYwLjQ2OSwzMC44ODkgNTk5Ljk1NSw1NyIvPg0K
ICA8cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjQ0MC40NjksNTcgNTk5Ljk1NSw1NyA0
NDAuNDY5LDMxLjA1NiIvPg0KPC9zdmc+DQo='
    );
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 32.111px;
    display: block;
    width: 100%;
    height: 29.111px;

    @include tablet {
      content: "";
      background-image: url('data:image/svg+xml;base64,
      PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJiZy1pbnRyby10cmlh
bmdsZS10YWJsZXQiIHdpZHRoPSI3NjhweCIgaGVpZ2h0PSI1N3B4IiB2aWV3Qm94PSIyMTYuNDY5
IDAgNzY4IDU3Ij4NCiAgICAgICAgPGc+DQogICAgICAgICAgPHBvbHlnb24gZmlsbD0iI0ZGRkZG
RiIgcG9pbnRzPSIyNDkuNTY2LDIzLjcxIDIxNi40NjksMjAuNTY1IDIxNi40NjksNTcgNTk5Ljk1
NSw1NyAyNDkuNTY2LDAiLz4NCiAgICAgICAgICA8cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2lu
dHM9Ijk1MC4zNDYsMjMuNzEgOTUwLjM0NiwwIDU5OS45NTUsNTcgOTg0LjQ2OSw1NyA5ODQuNDY5
LDIwLjQ2OCIvPg0KICAgICAgICA8L2c+DQogICAgICA8L3N2Zz4='
      );
      background-size: cover;
      height: 57px;
    }

    @include desktop {
      content: "";
      background-image: url('data:image/svg+xml;base64,
      PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcv
MjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIw
cHgiIHk9IjBweCIgd2lkdGg9IjExOTkuOTFweCIgaGVpZ2h0PSI1N3B4IiB2aWV3Qm94PSIwIDAg
MTE5OS45MSA1NyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTE5OS45MSA1NyIgeG1sOnNw
YWNlPSJwcmVzZXJ2ZSI+DQogIDxnPg0KICAgIDxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50
cz0iMjUwLjA4LDIzLjcxIDAuNTE0LDAgMC41MTQsNTcgMjUwLjA4LDU3IDYwMC40NjksNTcgMjUw
LjA4LDAiLz4NCiAgICA8cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9Ijk1MC44NTksMjMu
NzEgOTUwLjg1OSwwIDYwMC40NjksNTcgOTUwLjg1OSw1NyAxMjAwLjQyNCw1NyAxMjAwLjQyNCww
Ii8+DQogIDwvZz4NCjwvc3ZnPg0K'
      );
      background-position: -1px 0px;
      background-size: cover;
      width: 100%;
      height: 57.1px;
    }
  }
}

.promo__text {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 214px;
  margin-bottom: 56px;

  @include tablet {
    width: 100%;
    height: 350px;
    margin-bottom: 21px;
    position: relative;
    top: -13px;
  }

  @include desktop {
    width: 100%;
    height: 350px;
    margin-bottom: 111px;
    position: relative;
    top: 78px;
  }

  &--photos, &--form {
    width: 229px;
    height: 81px;
    margin-bottom: 18px;

    @include tablet {
      width: 100%;
      height: 79px;
      margin-bottom: 44px;
      position: relative;
      top: -15px;
    }

    @include desktop {
      height: 79px;
      margin-bottom: 165px;
      top: 101px;
    }
  }
}
