.video__container {
  @include container-style;
  text-align: center;
  padding-top: 35px;
  border-top: 1px solid $input-bg-color-hover;

  @include tablet {
    padding-top: 65px;
    border: none;
  }

  @include desktop {
    border: none;
  }
}

.video__title {
  @include main-title;
}

.video__text {
  @include sub-text;
}

.video__description {
  @include desktop {
    padding: 65px 345px;
  }
}

.video__player {
  @include desktop {
    width: 800px;
    margin: 0 auto;
  }
}
